:root {
    --color-main: #44519e;
    --color-border: rgba(68,81,158, 0.1);
    --color-light: #F1F1F9;
    --color-light-secondary: #F9FAFC;
    --color-form-background: #F8F8F8;
    --color-form-contrast: #DDD;
}